<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{~/css/style.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{~/css/public.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{~/pageination/zpageNav.css}" />

</head>
<body>
<div th:replace="~{common/head::#header}"></div>
<div id="root">
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>会员管理页面</span>
        </div>
        <div class="search">
            <form method="get" action="jsp/user.do">
                <input name="method" value="query" class="input-text" type="hidden">
                <span>姓名：</span> <input name="queryMemberName" type="text" value="" v-model="searchEntity.name">
                <span>电话号码：</span> <input name="queryMemberPhone" type="text" value="" v-model="searchEntity.phone">
                <input type="hidden" name="pageIndex" value="1" /> <input type="button" value="查 询" id="searchbutton" @click="pageHandler(1)"> <a th:href="@{~/memberadd}">添加会员</a>
            </form>
        </div>
        <!--用户-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">姓名</th>
                <th width="20%">性别</th>
                <th width="10%">电话号码</th>
                <th width="20%">地址</th>
                <th width="10%">积分</th>
                <th width="30%">操作</th>
            </tr>
            <tr class="firstTr" v-for="member in memberList">
                <td width="10%">{{member.name}}</td>
                <td width="20%">{{sex[member.gender]}}</td>
                <td width="10%">{{member.phone}}</td>
                <td width="10%">{{member.address}}</td>
                <td width="10%">{{member.points}}</td>
                <td><span>
                    <button class="modifyProvider" href="javascript:;" proid=proname=><img th:src="@{~/images/xiugai.png}" alt="修改" title="修改" @click="update(member)"/></button></span> <span>
                    <button class="deleteProvider" proid=><img th:src="@{~/images/schu.png}" alt="删除" title="删除" @click="deleteMember(member.id)"/></button></span></td>
            </tr>
        </table>
        <!--分页-->
        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                  v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
        </zpagenav>
        <input type="hidden" id="totalPageCount" value="" />
    </div>
    </section>
</div>

<div th:replace="~{common/foot::#footer}"></div>
<script type="text/javascript" th:src="@{~/vue/vuejs-2.5.16.js}"></script>
<script type="text/javascript" th:src="@{~/vue/axios-0.18.0.js}"></script>
<script type="text/javascript" th:src="@{~/pageination/zpageNav.js}"></script>
</body>
<script>
    new Vue({
        el:"#root",
        data:{
            sex:{1:"女",2:"男"},
            memberList:[],
            page:1,//当前页码
            pageSize:10,//一页多少条数据
            total:0,//总记录数
            maxPage:9,//最大页面数
            searchEntity:{}
        },
        methods:{
            pageHandler:function (page) {
                this.page=page;
                var _this=this;
                axios.post("/member/findPage?page="+this.page+"&pageSize="+this.pageSize,this.searchEntity).then(function (respose) {
                    _this.total=respose.data.total;
                    _this.memberList = respose.data.rows;
                    console.log(_this.memberList)

                }).catch(function (reason) {
                    console.log(reason);
                })
            },
            deleteMember:function (id) {
                var _this=this;
                axios.post("/member/deleteMember?id="+id).then(function (respose) {
                    if (respose.data.success) {
                        alert(respose.data.message)
                        _this.pageHandler(1);
                    }else {
                        alert(respose.data.message)
                    }
                }).catch(function (reason) {
                    console.log(reason);
                })
            },
            update:function (member) {
                var _this=this;
                axios.post("/member/saveSession",member).then(function (respose) {
                    location.href="memberModify";
                }).catch(function (reason) {
                    console.log(reason);
                })
            },
        },
        created:function () {
            this.pageHandler(1);
        }
    })
</script>
</html>