<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{~/css/style.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{~/css/public.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{~/pageination/zpageNav.css}" />
    <style>
        .active{
            color: red;
            font-size: 30px;
        }
    </style>
</head>
<body>
<div th:replace="~{common/head::#header}"></div>
<div id="root">
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>物品管理页面</span>
        </div>
        <div class="search">
            <form method="get" action="jsp/user.do">
                <input name="method" value="query" class="input-text" type="hidden">
                <span>商品名称：</span> <input name="queryProductName" type="text" value="" v-model="searchEntity.goodName">
                <span>供应商：</span>
                <select name="queryProviderId" v-model="searchEntity.provider">
                    <option :value="0">--请选择--</option>
                    <option :value="provider.id" v-for="provider in providerList">{{provider.proName}}</option>
                </select>
                <input type="hidden" name="pageIndex" value="1" /> <input type="button" value="查 询" id="searchbutton" @click="pageHandler(1)"> <a th:href="@{~/goodsadd}">添加物品</a>
            </form>
        </div>
        <!--用户-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th style="display: none" width="10%">id</th>
                <th width="10%">商品名</th>
                <th width="20%">供货商</th>
                <th width="10%">价格</th>
                <th width="20%">到期时间</th>
                <th width="10%">库存</th>
                <th width="30%">操作</th>
            </tr>
            <tr class="firstTr" v-for="goods in goodsList">
                <td style="display: none" width="10%">{{goods.id}}</td>
                <td width="10%">{{goods.goodName}}</td>
                <td width="20%">{{providerEntity[goods.provider]}}</td>
                <td width="10%">{{goods.price}}</td>
                <td width="10%">{{goods.expiryDate}}</td>
                <td width="10%" :class="{active: goods.num<10}">{{goods.num}}</td>
                <td><span>
                    <button class="modifyProvider" href="javascript:;" proid=proname=><img th:src="@{~/images/xiugai.png}" alt="修改" title="修改" @click="update(goods)"/></button></span> <span>
                    <button class="deleteProvider" proid=><img th:src="@{~/images/schu.png}" alt="删除" title="删除" @click="deleteGoods(goods.id)"/></button></span></td>
            </tr>
        </table>
        <!--分页-->
        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                  v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
        </zpagenav>
        <input type="hidden" id="totalPageCount" value="" />
    </div>
    </section>
</div>

<div th:replace="~{common/foot::#footer}"></div>
<script type="text/javascript" th:src="@{~/vue/vuejs-2.5.16.js}"></script>
<script type="text/javascript" th:src="@{~/vue/axios-0.18.0.js}"></script>
<script type="text/javascript" th:src="@{~/pageination/zpageNav.js}"></script>
</body>
<script>
    new Vue({
        el:"#root",
        data:{
            goodsList:[],
            page:1,//当前页码
            pageSize:10,//一页多少条数据
            total:0,//总记录数
            maxPage:9,//最大页面数
            providerList:[],
            providerEntity:{},
            searchEntity:{}
        },
        methods:{
            pageHandler:function (page) {
                this.page=page;
                var _this=this;
                axios.post("/goods/findPage?page="+this.page+"&pageSize="+this.pageSize,this.searchEntity).then(function (respose) {
                    _this.total=respose.data.total;
                    _this.goodsList = respose.data.rows;
                    console.log(_this.goodsList)

                }).catch(function (reason) {
                    console.log(reason);
                })
            },
            deleteGoods:function (id) {
                var _this=this;
                axios.post("/goods/deleteGoods?id="+id).then(function (respose) {
                    if (respose.data.success) {
                        alert(respose.data.message)
                        _this.pageHandler(1);
                    }else {
                        alert(respose.data.message)
                    }
                }).catch(function (reason) {
                    console.log(reason);
                })
            },
            loadProvider:function () {
                var _this = this;
                axios.post("/provider/findAll").then(function (respose) {
                    _this.providerList = respose.data;
                    for (var i =0;i<_this.providerList.length;i++){
                        var provider = _this.providerList[i];
                        _this.providerEntity[provider.id]=provider.proName;
                    }
                    console.log(_this.providerList)
                }).catch(function (reason) {
                    console.log(reason);
                })
            },
            update:function (goods) {
                var _this=this;
                axios.post("/goods/saveSession",goods).then(function (respose) {
                    location.href="/goodsModify";
                }).catch(function (reason) {
                    console.log(reason);
                })
            },
        },
        created:function () {
            this.pageHandler(1);
            this.loadProvider();
        }
    })
</script>
</html>