<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{~/css/style.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{~/css/public.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{~/pageination/zpageNav.css}" />

</head>
<body>
<div th:replace="~{common/head::#header}"></div>
<div id="root">
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>销售页面</span>
        </div>
        <div class="search">
            <form method="get" action="jsp/user.do">
                <input name="method" value="query" class="input-text" type="hidden">
                <span>条形码：</span> <input name="goodCode" type="text" value="" @keyup="checkGoods()" v-model="goodCode">
                &nbsp;&nbsp;
                <span>客户：</span> <input name="goodName" type="text" value="" v-model="accountEntity.customer">
                <span>销售人员：</span> <span disabled="disabled" name="productName" th:text="${session.user.getUserName()}" v-model="accountEntity.saler"></span>
                <a @click="save()" >结算</a>
            </form>
        </div>
        <!--用户-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="20%">商品名</th>
                <th width="10%">数量</th>
                <th width="10%">单价</th>
                <th width="20%">总价</th>
                <th width="20%">删除</th>
            </tr>
            <tr class="firstTr" v-for="(goods,index) in accountEntity.goodsList">
                <td width="20%">{{goods.goodName}}</td>
                <td width="10%" style="padding: 0"><input  jwcid="@Any" @keyup="totalprice2(index)" v-model="goods.count" raw="true"
                                               style="border: none;overflow: hidden;width: 100%;height: 100%;background:none"/></td>
                <td width="10%">{{goods.price}}</td>
                <td width="20%">{{goods.totalPrice}}</td>
                <td width="20%"><button class="deleteProvider" proid=><img th:src="@{~/images/schu.png}" alt="删除" title="删除" @click="deleteGoods(index)"/></button></span></td>
            </tr>
        </table>
    </div>
    </section>
</div>

<div th:replace="~{common/foot::#footer}"></div>
<script type="text/javascript" th:src="@{~/vue/vuejs-2.5.16.js}"></script>
<script type="text/javascript" th:src="@{~/vue/axios-0.18.0.js}"></script>
<script type="text/javascript" th:src="@{~/pageination/zpageNav.js}"></script>
</body>
<script>
    new Vue({
        el:"#root",
        data:{
            accountEntity:{goodsList:[]},
            goodsList:[],
            goodCode:"",
            goods:{}
        },
        methods:{
            update:function (goods) {
                var _this=this;
                axios.post("/goods/saveSession",goods).then(function (respose) {
                    location.href="/goodsModify";
                }).catch(function (reason) {
                    console.log(reason);
                })
            },
            loadGoods:function () {
                var _this=this;
                axios.post("/goods/findAll").then(function (respose) {
                    console.log(respose.data);
                    _this.goodsList = respose.data;
                }).catch(function (reason) {
                    console.log(reason);
                })
            },
            checkGoods:function () {
                for (var i =0;i<this.goodsList.length;i++){
                    var goods = this.goodsList[i];
                    if(goods.goodCode==this.goodCode){
                        console.log(goods)
                        goods.count=1;
                        this.totalprice(goods);
                        this.accountEntity.goodsList.push(goods);
                    }
                }
            },
            totalprice:function (goods) {
                console.log(goods);
                goods.totalPrice = goods.count*goods.price;
            },
            totalprice2:function (index) {
                console.log(index)
                var goods =  this.accountEntity.goodsList[index];
                console.log(goods);
                goods.totalPrice = goods.count*goods.price;
                Vue.set(this.accountEntity.goodsList,index,goods);
            },
            deleteGoods:function (index) {
                this.accountEntity.goodsList.splice(index,1);
            },
            save:function () {
                axios.post("/order/save",this.accountEntity).then(function (respose) {
                    if (respose.data.success) {
                        alert(respose.data.message)
                        location.href="/sale";
                    }else {
                        alert(respose.data.message)
                    }

                }).catch(function (reason) {
                    console.log(reason);
                })
            }
        },
        created:function () {
            this.loadGoods();
        }
    })
</script>
</html>